#
# Tectonic - An academic Cyber Range
# Copyright (C) 2024 Grupo de Seguridad Informática, Universidad de la República,
# Uruguay
#
# This file is part of Tectonic.
#
# Tectonic is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Tectonic is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Tectonic.  If not, see <http://www.gnu.org/licenses/>.
#

- name: Create trainer user
  hosts: all
  become: true
  gather_facts: true
  vars:
    ssh_service_name: "{{ 'ssh' if ansible_facts.os_family == 'Debian' else 'sshd' }}"
  tasks:
    - name: Configure trainer user in Linux
      block:
        - name: Configure trainer user in Linux | Create user
          ansible.builtin.user:
            name: "{{ trainer.username }}"
            password: "{{ trainer.password_hash }}"
            shell: /bin/bash
        - name: Configure trainer user in Linux | Add user to sudoers without password
          ansible.builtin.copy:
            dest: "/etc/sudoers.d/98-trainer"
            content: "{{ trainer.username }} ALL=(ALL) NOPASSWD:ALL"
        - name: Configure trainer user in Linux | Enable SSH login with password
          block:
            - name: Configure trainer user in Linux | Enable SSH login with password | Find SSH config files
              ansible.builtin.find:
                paths: /etc/ssh/sshd_config.d
                file_type: file
              register: ssh_config
            - name: Configure trainer user in Linux | Enable SSH login with password | Adjust SSH configuration files
              ansible.builtin.lineinfile:
                path: "{{ item.path }}"
                regex: "^\\s*PasswordAuthentication"
                line: "PasswordAuthentication yes"
              with_items:
                - "{{ ssh_config['files'] }}"
                - { path: '/etc/ssh/sshd_config' }
              register: sshd_conf
            - name: Configure trainer user in Linux | Enable SSH login with password | Restart SSH service
              ansible.builtin.service:
                name: "{{ ssh_service_name }}"
                state: restarted
              when: sshd_conf.changed
      when: ansible_facts['os_family'] != "Windows"
    - name: Configure trainer user in Windows
      ansible.windows.win_user:
        name: "{{ trainer.username }}"
        password: "{{ trainer.password }}"
        groups:
          - Administrators
          - Remote Desktop Users
      when: ansible_facts['os_family'] == "Windows"