#
# Tectonic - An academic Cyber Range
# Copyright (C) 2024 Grupo de Seguridad Informática, Universidad de la República,
# Uruguay
#
# This file is part of Tectonic.
#
# Tectonic is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Tectonic is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Tectonic.  If not, see <http://www.gnu.org/licenses/>.
#
---
# A playbook for creating users for the students.
#
# Expects a variable `prefix` for the usernames and a dictionary
# `users` that maps usernames (of the form <prefix><instance>,
# e.g. trainee02) to objects with these attributes:
# 
#   - password: The user plain-text password. Optional.
#   - password_hash: The hashed password. Optional. If not set, the
#     user is created without password.
#   - authorized_keys: A string with the public keys of the students.
#     Optional. If not set, the user is created with an empty
#     authorized_keys file.

- name: "Create student users on bastion host."
  hosts: bastion_host
  gather_facts: true
  vars:
    ssh_service_name: "{{ 'ssh' if ansible_facts.os_family == 'Debian' else 'sshd' }}"

  tasks:
    - name: "Create trainee users (optionally with password)"
      ansible.builtin.user:
        name: "{{ item.key }}"
        password: "{{ item.value.password_hash | default(omit) }}"
        shell: "/usr/sbin/nologin"
      loop: "{{ users | dict2items }}"
      when: config.platform == "aws"

    - name: "Populate authorized_keys"
      ansible.posix.authorized_key:
        user: "{{ item.key }}"
        key: "{{ item.value.authorized_keys }}"
      loop: "{{ users | dict2items }}"
      when: 
        - item.value.authorized_keys is defined
        - config.platform == "aws"

    - name: "Enable SSH login with password"
      block:
        - name: "Find SSH config files"
          ansible.builtin.find:
            paths: /etc/ssh/sshd_config.d
            file_type: file
          register: ssh_config
        - name: "Adjust SSH configuration files"
          ansible.builtin.lineinfile:
            path: "{{ item.path }}"
            regex: "^\\s*PasswordAuthentication"
            line: "PasswordAuthentication yes"
          with_items:
            - "{{ ssh_config['files'] }}"
            - { path: '/etc/ssh/sshd_config' }
          register: sshd_conf
        - name: "Restart SSH service"
          ansible.builtin.service:
            name: "{{ ssh_service_name }}"
            state: restarted
          when: sshd_conf.changed
      when: 
        - ssh_password_login
        - config.platform == "aws"
    
    - name: "Disable SSH login with password"
      block:
        - name: "Find SSH config files"
          ansible.builtin.find:
            paths: /etc/ssh/sshd_config.d
            file_type: file
          register: ssh_config
        - name: "Adjust SSH configuration files"
          ansible.builtin.lineinfile:
            path: "{{ item.path }}"
            regex: "^\\s*PasswordAuthentication"
            line: "PasswordAuthentication no"
          with_items:
            - "{{ ssh_config['files'] }}"
            - { path: '/etc/ssh/sshd_config' }
          register: sshd_conf
        - name: "Restart SSH service"
          ansible.builtin.service:
            name: sshd
            state: restarted
          when: sshd_conf.changed
      when: 
        - not ssh_password_login
        - ansible_facts['os_family'] != "Windows"
        - config.platform == "aws"

- name: "Create student users on the rest of the machines."
  hosts: all:!bastion_host:!guacamole:!moodle
  gather_facts: true
  vars:
    digit_count: "{{ instances | string | length }}"
    username: "{{ '%s%0{}d'.format(digit_count) | format(student_prefix, instance ) }}"
    ssh_service_name: "{{ 'ssh' if ansible_facts.os_family == 'Debian' else 'sshd' }}"

  tasks:
    - name: "Create the trainee user (optionally with password)"
      ansible.builtin.user:
        name: "{{ username }}"
        password: "{{ users[username].password_hash | default(omit) }}"
        shell: "/bin/bash"
      when: ansible_facts['os_family'] != "Windows"

    - name: "Create .ssh dir"
      ansible.builtin.file:
        path: "/home/{{ username }}/.ssh"
        mode: 0700
        owner: "{{ username }}"
        group: "{{ username }}"
        state: directory
      when: 
        - users[username].authorized_keys is defined
        - ansible_facts['os_family'] != "Windows"

    - name: "Populate authorized_keys"
      ansible.builtin.copy:
        dest: "/home/{{ username }}/.ssh/authorized_keys"
        content: "{{ users[username].authorized_keys }}"
        owner: "{{ username }}"
        group: "{{ username }}"
        mode: 0600
      when: 
        - users[username].authorized_keys is defined
        - ansible_facts['os_family'] != "Windows"

    - name: "Add user to sudoers without password"
      ansible.builtin.copy:
        dest: "/etc/sudoers.d/99-trainee"
        content: "{{ username }} ALL=(ALL) NOPASSWD:ALL"
      when: 
        - ansible_facts['os_family'] != "Windows"

    - name: "Enable SSH login with password"
      block:
        - name: "Find SSH config files"
          ansible.builtin.find:
            paths: /etc/ssh/sshd_config.d
            file_type: file
          register: ssh_config
        - name: "Adjust SSH configuration files"
          ansible.builtin.lineinfile:
            path: "{{ item.path }}"
            regex: "^\\s*PasswordAuthentication"
            line: "PasswordAuthentication yes"
          with_items:
            - "{{ ssh_config['files'] }}"
            - { path: '/etc/ssh/sshd_config' }
          register: sshd_conf
        - name: "Restart SSH service"
          ansible.builtin.service:
            name: "{{ ssh_service_name }}"
            state: restarted
          when: sshd_conf.changed
      when: 
        - ssh_password_login
        - ansible_facts['os_family'] != "Windows"

    # Configurations for windows guests
    - name: "Create the trainee user (optionally with password). For Windows."
      ansible.windows.win_user:
        name: "{{ username }}"
        password: "{{ users[username].password | default(omit) }}"
        groups:
          - Administrators
          - Remote Desktop Users
      when: ansible_facts['os_family'] == "Windows"
      
    - name: "Create .ssh dir. For windows"
      ansible.windows.win_file:
        path: "C:\\Users\\{{ username }}\\.ssh"
        state: directory
      when: 
        - users[username].authorized_keys is defined
        - ansible_facts['os_family'] == "Windows"

    - name: "Populate authorized_keys. For Windows."
      ansible.windows.win_copy:
        dest: "C:\\Users\\{{ username }}\\.ssh\\authorized_keys"
        content: "{{ users[username].authorized_keys }}"
      when: 
        - users[username].authorized_keys is defined
        - ansible_facts['os_family'] == "Windows"

- name: Create student users on guacamole
  hosts: guacamole
  gather_facts: false
  
  tasks:
    - name: Create user mapping
      ansible.builtin.template:
        src: templates/guacamole-user-mapping.j2
        dest: /etc/guacamole/user-mapping.xml
        mode: '0640'
        owner: root
        group: tomcat

    - name: Restart Tomcat
      ansible.builtin.service:
        name: tomcat9
        state: restarted

- name: Create student users on moodle
  hosts: moodle
  gather_facts: false
  tasks:
    - name: Create user
      ansible.builtin.command:
        cmd: |
          /usr/bin/php /opt/moosh/moosh.php -n -p /var/www/html/moodle user-create
          --password={{ item.value.password }}
          --email={{ item.key }}@{{ services.bastion_host.domain }}
          {{ item.key }}
      become: true
      become_user: www-data
      register: moosh_results
      failed_when:
      - moosh_results.rc != 0
      - "'Duplicate entry' not in (moosh_results.stderr | default(''))"
      loop: "{{ users | dict2items }}"
    - name: Enroll users to courses
      block:
        - name: Get all courses
          ansible.builtin.command:
            cmd: |
              /usr/bin/php /opt/moosh/moosh.php -n -p /var/www/html/moodle course-list -i
          become: true
          become_user: www-data
          register: moosh_results
        - name: Enroll user in course
          ansible.builtin.command:
            cmd: |
              /usr/bin/php /opt/moosh/moosh.php -n -p /var/www/html/moodle course-enrol
              -r student
              {{ item.1 }}
              {{ item.0.key }}
          become: true
          become_user: www-data
          loop: "{{ users | dict2items | product(moosh_results.stdout_lines[1:]) | list }}"
      when: services.moodle.auto_enroll_trainees
