#
# Tectonic - An academic Cyber Range
# Copyright (C) 2024 Grupo de Seguridad Informática, Universidad de la República,
# Uruguay
#
# This file is part of Tectonic.
#
# Tectonic is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Tectonic is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Tectonic.  If not, see <http://www.gnu.org/licenses/>.

- name: "Configure services"
  hosts: all
  become: true
  gather_facts: true
  strategy: free #Run tasks in parallel
  tasks:
    - name: Include Elastic playbook
      ansible.builtin.include_tasks: ../elastic/after_clone.yml
      when: '"elastic" in group_names'
    - name: Include Caldera playbook
      ansible.builtin.include_tasks: ../caldera/after_clone.yml
      when: '"caldera" in group_names'
    - name: Include Guacamole playbook
      ansible.builtin.include_tasks: ../guacamole/after_clone.yml
      when: '"guacamole" in group_names'
    - name: Include Bastion Host playbook
      ansible.builtin.include_tasks: ../bastion_host/after_clone.yml
      when: '"bastion_host" in group_names'

