# The after-clone ansible playbook for the Password Cracking scenario.
# This playbook is applied to each machine in each instance, after it
# was cloned. Internet connection is not available by default.
- name: "Password Cracking victim configuration"
  hosts: victim
  tasks:
    - name: "Create FTP user with same password as username"
      ansible.builtin.user:
        name: "{{ parameters['ftp_users']['username'] }}"
        password: "{{ parameters['ftp_users']['password'] | password_hash(hashtype='sha512', salt=parameters['ftp_users']['salt'], rounds=5000)}}"
        comment: "{{ parameters['ftp_users']['gecos'] }}"
        shell: /usr/sbin/nologin
        create_home: yes
        home: "/home/{{ parameters['ftp_users']['username'] }}"
    - name: "Enable access for FTP user"
      ansible.builtin.copy:
        dest: /etc/ftpusers
        content: |
          {{ parameters['ftp_users']['username'] }}
    - name: "Create user with shell access and password based on login information"
      ansible.builtin.user:
        name: "{{ parameters['shell_users']['username'] }}"
        password: "{{ parameters['shell_users']['password'] | password_hash(hashtype='sha512', salt=parameters['shell_users']['salt'], rounds=5000)}}"
        comment: "{{ parameters['shell_users']['gecos'] }}"
        shell: /bin/bash
        groups: "backup"
        create_home: yes
        home: "/home/{{ parameters['shell_users']['username'] }}"
    - name: "Create a backup of the shadow file"
      ansible.builtin.copy:
        src: /etc/shadow
        remote_src: true
        dest: "/home/{{ parameters['ftp_users']['username'] }}/shadow.bak"
        owner: "{{ parameters['ftp_users']['username'] }}"
        group: "{{ parameters['ftp_users']['username'] }}"
        mode: '0644'
    - name: "Install flag in ssh user directory"
      ansible.builtin.copy:
        dest: "/home/{{ parameters['shell_users']['username'] }}/flag.txt"
        owner: "{{ parameters['shell_users']['username'] }}"
        group: "{{ parameters['shell_users']['username'] }}"
        mode: '0600'
        content: |
          {{ parameters['flags'] }}
