---
name: Regression Tests

on: [push, pull_request]

jobs:
  regression:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        python-version: ['3.10', '3.11', '3.12']

    steps:
      - name: "Checkout repo"
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Set up Python 3
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'

      - name: Install poetry
        uses: abatilo/actions-poetry@0dd19c9498c3dc8728967849d0d2eae428a8a3d8 # v4
        with:
          poetry-version: '1.8.3'

      - name: Install dependencies
        run: |
          sudo apt-get -qq update
          sudo apt-get install -qq -y libvirt0 libvirt-dev

      - name: Create ssh key
        run: |
          ssh-keygen -t rsa -C "test@example.com" -q -N "" -f ~/.ssh/id_rsa

      - name: Test with pytest
        run: |
          poetry lock
          poetry install
          poetry run pytest -vs

